/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.capital-container {
  background-color: #f8fafc;
  width: 40%;
  height: 40%;
  border-radius: 10px;
  padding: 25px;
}
.content-container {
  display: flex;
  align-items: center;
}
.select-container {
  height: 40px;
  width: 180px;
  margin-right: 10px;
  padding-left: 10px;
  color: #000000;
  font-family: roboto;
  font-weight: bold;
}
.paragraph {
  color: #323f4b;
  font-family: roboto;
}
.description {
  color: #000000;
  font-family: roboto;
  font-weight: bold;
}
